.pageNumbers{
    list-style: none;
    display: flex;
    padding-left: 41%;
}
.pageNumbers li{
    padding: 10px;
    border: 1px solid black;
    background-color: azure;
    box-shadow: 1px 1px 10px rgb(241, 10, 199);
}
.pageNumbers li.active{
    background-color: black;
    color:white
}
.pageNumbers li button{
    background-color: transparent;
    border:none;
    color: rgb(108, 5, 79);
    font-size: 1.5rem;
    cursor: pointer;  
}
.pageNumbers li button:hover{
    background-color: black;
    color:white
}
.pageNumbers li button:focus{
    outline: none;
}